input {
  &.is-valid {
    border: 2px solid #31a061;
  }

  &.is-invalid {
    border: 2px solid #be2691;
  }
}

.messages {
  opacity: 0;
  transition: all 2s ease-in;
  &.active {
    opacity: 1;
  }
}
