<form [formGroup]="groupedForm" (ngSubmit)="save($event)">
  <p>
    Name {{ nameField.value }} {{ nameField.valid }}
    <input
      type="text"
      [class.is-valid]="isNameFieldValid"
      [class.is-invalid]="isNameFieldInvalid"
      formControlName="name"
    />
    <button [disabled]="nameField.invalid" (click)="getNameValue()">
      Get Value
    </button>
    <!-- <code>
      <pre>
        {{ nameField | json }}
      </pre>
    </code> -->
  </p>
  <p class="messages" [class.active]="nameField.touched && nameField.invalid">
    <strong *ngIf="nameField.touched && nameField.hasError('required')"
      >this field is required</strong
    >
  </p>
  <p class="messages" [class.active]="nameField.touched && nameField.invalid">
    <strong *ngIf="nameField.hasError('maxlength')"
      >You've passed the max length of this field</strong
    >
  </p>
  <p class="messages" [class.active]="nameField.touched && nameField.invalid">
    <strong *ngIf="nameField.hasError('pattern')"
      >please not enter special characters</strong
    >
  </p>
  <p>
    Email: {{ emailField.value }}
    <input type="email" formControlName="email" />
  </p>
  <p class="messages" [class.active]="emailField.touched && emailField.invalid">
    <strong *ngIf="emailField.hasError('required')">email is required</strong>
  </p>
  <p class="messages" [class.active]="emailField.touched && emailField.invalid">
    <strong *ngIf="emailField.hasError('email')">email is not valid</strong>
  </p>

  <p>
    Phone: {{ phoneField.value }}
    <input type="tel" formControlName="phone" />
  </p>
  <p class="messages" [class.active]="phoneField.touched && phoneField.invalid">
    <strong *ngIf="phoneField.touched && phoneField.hasError('required')"
      >Phone is required</strong
    >
  </p>

  <p>
    Color: {{ colorField.value }}
    <input type="color" formControlName="color" />
  </p>

  <p>
    Date: {{ dateField.value }}
    <input type="date" formControlName="date" />
  </p>

  <p>
    Number: {{ numberField.value }}
    <input type="number" formControlName="number" />
  </p>
  <p
    class="messages"
    [class.active]="numberField.touched && numberField.invalid"
  >
    <strong *ngIf="numberField.hasError('required')"
      >this field is required</strong
    >
  </p>
  <p
    class="messages"
    [class.active]="numberField.touched && numberField.invalid"
  >
    <strong *ngIf="numberField.hasError('min') || numberField.hasError('max')"
      >the value in not between de valid numbers (18 - 65)</strong
    >
  </p>

  <p>
    Category: {{ categoryField.value }}
    <select formControlName="category">
      <option value="cat1">category 1</option>
      <option value="cat2">category 2</option>
      <option value="cat3">category 3</option>
      <option value="cat4">category 4</option>
    </select>
  </p>

  <p>
    Tags: {{ tagField.value }}
    <select formControlName="tag" multiple>
      <option value="tag1">tag 1</option>
      <option value="tag2">tag 2</option>
      <option value="tag3">tag 3</option>
      <option value="tag4">tag 4</option>
    </select>
  </p>

  <p>
    Agree: {{ agreeField.value }}
    <input type="checkbox" formControlName="agree" />
  </p>
  <p class="messages" [class.active]="agreeField.touched && agreeField.invalid">
    <strong *ngIf="agreeField.hasError('required')"
      >you must accept the terms and conditions</strong
    >
  </p>

  <p>
    Gender: {{ genderField.value }}
    <label for="">
      <input name="gender" type="radio" value="male" formControlName="gender" />
      Male
    </label>
    <label for="">
      <input
        name="gender"
        type="radio"
        value="female"
        formControlName="gender"
      />
      Female
    </label>
    <label for="">
      <input
        name="gender"
        type="radio"
        value="other"
        formControlName="gender"
      />
      Other
    </label>
  </p>
  <p>
    Zone: {{ zoneField.value }}
    <label for="">
      <input name="zone" type="radio" value="zone-1" formControlName="zone" />
      Zone 1
    </label>
    <label for="">
      <input name="zone" type="radio" value="zone-2" formControlName="zone" />
      Zone 2
    </label>
    <label for="">
      <input name="zone" type="radio" value="zone-3" formControlName="zone" />
      Zone 3
    </label>
  </p>
  <p>
    <!-- <button [disabled]="groupedForm.invalid" type="submit">Send</button> -->
    <button type="submit">Send</button>
  </p>
</form>

<!-- <p>
  Name {{ nameField.value }} {{ nameField.valid }}
  <input
    type="text"
    [class.is-valid]="isNameFieldValid"
    [class.is-invalid]="isNameFieldInvalid"
    [formControl]="nameField"
  />
  <button [disabled]="nameField.invalid" (click)="getNameValue()">
    Get Value
  </button>
  <code>
    <pre>
      {{ nameField | json }}
    </pre>
  </code>
</p>
<p class="messages" [class.active]="nameField.touched && nameField.invalid">
  <strong *ngIf="nameField.touched && nameField.hasError('required')"
    >this field is required</strong
  >
</p>
<p>
  <strong *ngIf="nameField.touched && nameField.hasError('maxlength')"
    >You've passed the max length of this field</strong
  >
</p>
<p>
  Email: {{ emailField.value }}
  <input type="email" [formControl]="emailField" />
</p>

<p>
  Phone: {{ phoneField.value }}
  <input type="tel" [formControl]="phoneField" />
</p>

<p>
  Color: {{ colorField.value }}
  <input type="color" [formControl]="colorField" />
</p>

<p>
  Date: {{ dateField.value }}
  <input type="date" [formControl]="dateField" />
</p>

<p>
  Number: {{ numberField.value }}
  <input type="number" [formControl]="numberField" />
</p>

<p>
  Category: {{ categoryField.value }}
  <select [formControl]="categoryField">
    <option value="cat1">category 1</option>
    <option value="cat2">category 2</option>
    <option value="cat3">category 3</option>
    <option value="cat4">category 4</option>
  </select>
</p>

<p>
  Tags: {{ tagField.value }}
  <select [formControl]="tagField" multiple>
    <option value="tag1">tag 1</option>
    <option value="tag2">tag 2</option>
    <option value="tag3">tag 3</option>
    <option value="tag4">tag 4</option>
  </select>
</p>

<p>
  Agree?: {{ agreeField.value }}
  <input type="checkbox" [formControl]="agreeField" />
</p>

<p>
  Gender: {{ genderField.value }}
  <label for="">
    <input
      name="gender"
      type="radio"
      value="male"
      [formControl]="genderField"
    />
    Male
  </label>
  <label for="">
    <input
      name="gender"
      type="radio"
      value="female"
      [formControl]="genderField"
    />
    Female
  </label>
  <label for="">
    <input
      name="gender"
      type="radio"
      value="other"
      [formControl]="genderField"
    />
    Other
  </label>
</p>
<p>
  Zone: {{ zoneField.value }}
  <label for="">
    <input name="zone" type="radio" value="zone-1" [formControl]="zoneField" />
    Zone 1
  </label>
  <label for="">
    <input name="zone" type="radio" value="zone-2" [formControl]="zoneField" />
    Zone 2
  </label>
  <label for="">
    <input name="zone" type="radio" value="zone-3" [formControl]="zoneField" />
    Zone 3
  </label>
</p> -->
