<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Category</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input
              type="text"
              placeholder="Name"
              formControlName="name"
              matInput
            />
            <div
              class="messages"
              *ngIf="nameField.touched && nameField.invalid"
            >
              <mat-error *ngIf="nameField.hasError('required')">
                Field required
              </mat-error>
              <mat-error *ngIf="nameField.hasError('minlength')">
                Min length is 4 char
              </mat-error>
              <mat-error *ngIf="nameField.hasError('not_available')">
                The category name is not available
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <!-- <img *ngIf="image$ | async as image" [src]="image" /> -->
          <img *ngIf="imageField.value" [src]="imageField.value" />
          <input
            (change)="fileUpload($event)"
            type="file"
            placeholder="Image"
          />
          <div
            class="messages"
            *ngIf="imageField.touched && imageField.invalid"
          >
            <mat-error *ngIf="imageField.hasError('required')">
              Field required
            </mat-error>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">
        <span *ngIf="!categoryId">Save category</span>
        <span *ngIf="categoryId">Update category</span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
